/* *{
  padding: 0;
  margin: 0;
  box-sizing: content-box;
  font-family: cursive;
}
body{
  background-color: #333;
  color: papayawhip;
}


/* Navbar section */
.navbar {
  background-color: black;
  color: white;
  display: flex;
  align-items: space-between;
  padding: 10px;
}

 */
