*{
  padding: 0;
  margin: 0;
  box-sizing: content-box;
}
body{
  background-color: #333;
  color: papayawhip;
}
/* Navbar section */
.navbar {
  background-color: rgba(0, 255, 255, 0.411);
  color: #fff;
  padding: 0 24px;
}
a {
  color: #333;
  text-decoration: none;
}
.nav_list {
  display: flex;
  align-items: center;
  gap: 20px;
  list-style-type: none;
  align-items: center;
  padding: 0px;
  margin: 0px;
  cursor: pointer;
  height: 54px;
  text-decoration: none;
  font-weight: bolder;
  font-family: serif, Arial, Helvetica, sans-serif;
}
.logo {
  margin-right: auto;
  font-size: 1.5rem;
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;
}
.logo a{
  display: block;
  padding: 10px 0;
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
}
.nav-item a{
  display: block;
  padding: 8px 12px;
  text-decoration: none;
  color: white;
  font-size: 15px;
  color: aquamarine;
  border-radius: 6px;
  transition: ease-out 2s ease-in 2s red;
}

/* Hero section */

.hero{
margin-top: 10px;
background-color: powderblue;
height: 400px;
}


.btn-primary{
color: #0033;
font-size: 40px;
font-family: monospace;
}
.btn-secondary{
font-size: 40px;
color: #0033;
font-family: monospace;
}

img{
  width: 200px;
  height: 200px;
}